@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Mukta:wght@300;400;500;700&family=Sarala:wght@400;700&display=swap');

$background:#292929;
$primary:#8A2BE2;
$accent:#FF00FF;
$text:#f9f9f9;

$bg-200:#393939;
$bg-300:#515151;
$prim-200:#c05fff;
$cream:#ffc5ff;


// font-family: 'Lato', sans-serif;
// font-family: 'Mukta', sans-serif;
// font-family: 'Sarala', sans-serif;