@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Kaushan+Script&display=swap');

$background:#F6F3E9;
$black:#0E0E0E;
$white:#ffffff;
$blue:#222C68;
$nav:#D7D9E1;
$secondary:#AEAEAE;

